<div class="signup-container">
  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <img src="/assets/logo_p6.png" alt="MDD Logo" class="logo mobile-only" />

  <h2>Inscription</h2>

  <form #signupForm="ngForm" (ngSubmit)="onSignup()" novalidate>

    <app-custom-input
      label="Nom d'utilisateur"
      name="username"
      [(ngModel)]="user.username"
      required
    ></app-custom-input>

    <app-custom-input
      label="Adresse e-mail"
      type="email"
      name="email"
      [(ngModel)]="user.email"
      required
      email
      #emailInput="ngModel"
    ></app-custom-input>

    <p *ngIf="emailInput.invalid && emailInput.touched" class="error">
      Adresse e-mail invalide.
    </p>

    <app-custom-input
      label="Mot de passe"
      type="password"
      name="password"
      [(ngModel)]="user.password"
      required
    ></app-custom-input>

    <div class="button-container">
      <app-custom-button
        label="S'inscrire"
        type="primary"
        [disabled]="!signupForm.valid"
        (clickEvent)="onSignup()"
      ></app-custom-button>
    </div>
  </form>
</div>
