.theme-card {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 14px;
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  